.snake-game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  h1 {
    text-align: center;
    margin: 20px 0;
  }
}

.board {
  background-color: #111;
  position: relative;

  .background {
    background: linear-gradient(to bottom, #171717, #101010);
    width: 100%;
    height: 100%;
    .cells{
      background: url("/cell.png");
      background-size: calc(var(--cell-size));
      width: 100%;
      height: 100%;
      opacity: .03;
    }
  }

  > div:not(.background) {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    line-height: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  .wall {
    opacity: .4;
    font-size: calc(var(--cell-size) - 3px);
  }

  .apple {
    font-size: calc(var(--cell-size) - 5px);
  }

  .bang {
    font-size: calc(var(--cell-size) + 25px);
    padding: 2px;
  }

  .path{
    font-size: 14px;
    background-color: #006f0860;
  }

  .closed{
    font-size: 14px;
    background-color: rgba(55, 84, 156, 0.38);
  }

  .snake-item {
    display: flex;
    padding: 1px;
    box-sizing: border-box;
    transition: left .4s ease-out, top .4s ease-out, rotate .4s ease-in, transform 0.4s ease;
    animation: scale-in .4s ease;

    > div {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #0596b1, #014855);
      border-radius: 5px;
    }

    &.first {
      transition: left .4s ease-out, top .4s ease-out, rotate .2s ease-out;

      > div {
        border-radius: 5px 20px 5px 5px;

        &::before {
          content: "👀";
          position: absolute;
          top: -2px;
          left: 4px;
          rotate: 180deg;
          transition: left .4s ease;
          font-size: calc(var(--cell-size) - 8px);
          pointer-events: none;
        }
      }
    }

    &.last > div {
      border-radius: 20px 5px 5px 5px;
    }

    &.raised.first > div::before {
      left: 6px;
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  .fade-blow-enter-active, .fade-blow-leave-active {
    transition: opacity 0.4s ease, transform 0.1s ease-out;
  }

  .fade-enter-from, .fade-leave-to, .fade-blow-enter-from, .fade-blow-leave-to {
    transform: scale(0.1);
  }

  .fade-enter-to, .fade-leave-from, .fade-blow-enter-to, .fade-blow-leave-from {
    transform: scale(1);
  }
}

.controls {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  user-select: none;

  .state {
    font-weight: bold;
    display: none;

    &.win {
      color: #16e382;
    }

    &.lose {
      color: #fa6060;
    }
  }
}

.snake-game.win .controls .state.win {
  display: block;
}

.snake-game.lose .controls .state.lose {
  display: block;
}

@keyframes scale-in {
  from {
    transform: scale(.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}