<div class="snake-game" :class="{
    win: gameState === GAME_STATE.WIN,
    lose: gameState === GAME_STATE.LOSE
}">
    <h1>Snake</h1>
    <div class="controls">
        <button @click="resetGame">New Game</button>
        <div class="state win">WIN!</div>
        <div class="state lose">LOSE...</div>
        <div>Snake length: {{ snake.length }}/{{ SNAKE_WIN_LENGTH }}</div>
    </div>

    <div class="board" :style="{
        width: coordsToStyle({x: BOARD_WIDTH}).left,
        height: coordsToStyle({y: BOARD_HEIGHT}).top
    }">
        <div class="background">
            <div class="cells"></div>
        </div>
        <div v-for="wall in walls"
             class="wall"
             :style="coordsToStyle(wall)">
            🧱
        </div>

        <transition name="fade">
            <div class="apple" v-if="apple" :style="coordsToStyle(apple)">🍏</div>
        </transition>

        <template v-for="(snakeItem, index) in snake.slice().reverse()">
            <div class="snake-item"
                 :class="[`snake-dir-${snakeItem.dir}`, {
                 first: !index,
                 last: index + 1 >= snake.length,
                 raised: (snakeItem.x + snakeItem.y) % 2
             }]"
                 :style="{...coordsToStyle(snakeItem), zIndex: snake.length-index}">
                <div :class="{raised: (snakeItem.x + snakeItem.y) % 2 }"/>
            </div>
        </template>
        <transition name="fade-blow">
            <div class="bang"
                 v-if="gameState === GAME_STATE.LOSE"
                 :style="{...coordsToStyle(snake.at(-1)), zIndex: snake.length+1}">
                💥
            </div>
        </transition>


        <!--div v-for="(cell, index) in closed"
             :key="`${cell.x}_${cell.y}`"
             class="path"
             :style="{...coordsToStyle(cell), rotate: 0}">
            {{index}}
        </div-->

        <!--div v-for="(cell, index) in path"
             class="path"
             :style="{...coordsToStyle(cell), rotate: 0}">
            {{index}}
        </div-->
    </div>
</div>